@page
@using System.Linq
@using FirestormSW.SmartGrade.Database
@using FirestormSW.SmartGrade.Services
@using Microsoft.EntityFrameworkCore
@model FirestormSW.SmartGrade.Pages.Student.Absences
@inject AppDatabase Database;
@inject LoginService LoginService;

@{
    Layout = "Shared/Student/StudentLayout";

    var currentUser = LoginService.GetCurrentLoggedInUser(HttpContext);
    var allAbsences = Database.Absences
        .Include(g => g.Student)
        .Include(g => g.Subject)
        .Where(g => g.Student.Id == currentUser.Id)
        .OrderByDescending(g => g.Date)
        .ThenByDescending(g => g.Subject.Id)
        .ToList();

    ViewData["unseen_absence_count"] = allAbsences.Count(g => !g.Seen);

}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <table class="table">
                    <caption>Total absences: @allAbsences.Count</caption>
                    <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Date</th>
                        <th scope="col">Verified</th>
                        <th scope="col">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var absence in allAbsences)
                    {
                        <tr>
                            <td>
                                @absence.Subject.Name
                                @if (!absence.Seen)
                                {
                                    <span class="label label-xl label-dot label-info mr-2"></span>
                                }
                            </td>
                            <td>@absence.Date</td>
                            <td>
                                <span class="label label-inline @(absence.Verified ? "label-light-success" : "label-light-danger") font-weight-bold">
                                    @(absence.Verified ? "Yes" : "No")
                                </span>
                            </td>
                            <td>@absence.Comment</td>
                        </tr>
                        absence.Seen = true;
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
